<header>
  <a href="{% url 'home' %}">LOGO</a>
  <button id="openMobileNav" class="open-nav-btn"><i class="bx bx-menu-close"></i></button>
  <nav id="mobileNav" class="navbar">
    <button id="closeMobileNav" class="close-nav-btn"><i class="bx bx-x"></i></button>
    <div class="navlinks">
      <a href="/" class="active">Home</a>
      <a href="#">About</a>
      <a href="#">Academics</a>
      <a href="#">Apply & Enroll</a>
      <div class="login-cta">
        <a href="/login/Student"><i class="bx bxs-user"></i> <div>Student Login</div></a>
        <a href="/login/Teacher"><i class="bx bxs-education"></i><div>Teacher Login</div></a>
        <a href="/login/Admin"><i class="bx bxs-cog"></i><div>Admin Login</div></a>
      </div>
    </div>
  </nav>

  <nav class="desktop-nav">
    <a href="/">Home</a>
    <a href="#">About</a>
    <a href="#">Academics</a>
    <a href="#">Apply & Enroll</a>
    <div class="dropdown">
      <button class="dropdown-trigger">Login <i class="dropdown-arrow bx bx-chevron-down"></i></button>
      <div class="dropdown-content">
        <a href="/login/Student"><i class="bx bxs-user"></i> Student Login</a>
        <a href="/login/Teacher"><i class="bx bxs-education"></i> Teacher Login</a>
        <a href="/login/Admin"><i class="bx bxs-cog"></i> Admin Login</a>
      </div>
    </div>
  </nav>
</header>
