{% block links %}
  <!-- BOX ICONS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />
  {% comment %} <link href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css" rel="stylesheet" /> {% endcomment %}
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  {% comment %} <link href="https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css" rel="stylesheet" /> {% endcomment %}
  {% load static %}
  <link rel="shortcut icon" href="{% static 'images/school-logo.png' %}" type="image/png" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
