<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'links.html' %}
    {% block extra_css %}

    {% endblock %}
    {% block inline_css %}

    {% endblock %}
    <title>
      {% block title %}
        Main Site
      {% endblock %}
    </title>
  </head>
  <body>
    {% include 'header.html' %}
    <main>
      {% block content %}

      {% endblock %}
    </main>
    {% include 'footer.html' %}
    {% block inline_js %}

    {% endblock %}
    {% load static %}
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
